* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* form */
.form_Container {
  align-items: center;
}
.form_Left {
  display: flex;
  align-items: center;
  height: 100vh;
}
.form_Left img {
  width: 100%;
  height: 70%;
}

/* register */
.register {
  text-align: center;
}

/* project managerment */
.projectManager_Container {
  padding: 30px;
}

.projectManager_ContainerTitle {
  display: flex;
  justify-content: space-between;
}

.searchInput {
  margin-top: 20px;
}

.memberList {
  position: relative;
  /* z-index: -1; */
  display: inline-block;
}

.memberList:hover .members {
  display: block;
}

.members {
  position: absolute;
  top: 23px;
  display: none;
  background-color: white;
  z-index: 4;
}

.members .memberTable .avatar {
  width: 30px;
}
.addMembers {
  display: inline-block;
}

.tableUserContainer {
  height: 400px;
  overflow: scroll;
}

.listUserAdd_Table .table_Row {
  cursor: pointer;
}

.userLink {
  text-decoration: none;
  color: white;
}

.userLink:hover {
  color: blue;
}
