* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* form */
.form_Container {
  align-items: center;
}
.form_Left {
  display: flex;
  align-items: center;
  height: 100vh;
}
.form_Left img {
  width: 100%;
  height: 70%;
}

/* register */
.register {
  text-align: center;
}

/* project managerment */
.projectManager_Container {
  padding: 30px;
}

.projectManager_ContainerTitle {
  display: flex;
  justify-content: space-between;
}

.searchInput {
  margin-top: 20px;
}

.memberList {
  position: relative;
  z-index: 1;
  display: inline-block;
}

.memberList:hover .members {
  display: block;
}

.members {
  position: absolute;
  top: 20px;
  /* display: none; */
  background-color: white;
  z-index: -1;
}
